select_list
!select_list/Ac

.DS_Store

project/*/
!project/adjust_comments.json/AhieveCommentsFile.json
!project/BotNames.json

processing_file/BERT/*/
!processing_file/BERT/BertCrossValidation.py

venv