processing_file/associate/Definition/__pycache__/*
processing_file/associate/nohup.out

processing_file/BERT/*
!processing_file/BERT/BERTFiveCrossValidationRocal.py
!processing_file/BERT/BERTModelCreateRocal.py

project/*
!project/AchieveComments.json
!project/adjust_comments.json
!project/BotNames.json

select_list/*
!select_list/AchieveCommentsFile.json\
!select_list/visual_inspection.csv

venv

.DS_Store